*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  width: 100%;
}

.main {
  width: 100%;
  margin: auto;
  max-width: 144rem;
}

.nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 99;
}
.nav__container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__section--first {
  width: 25%;
  height: 100%;
  position: relative;
}
.nav__section--second {
  width: 50%;
  height: 100%;
  gap: 2rem;
}
.nav__section--third {
  width: 25%;
  height: 100%;
  gap: 2rem;
}
.nav__links {
  text-decoration: none;
  font-size: 2.5rem;
  color: #19A7CE;
}
.nav__links:hover {
  color: #AEE2FF;
  cursor: pointer;
}
.nav__flag {
  transition: all 0.4s;
}
.nav__flag:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.nav__contactButton {
  background: transparent;
  border: 0.2rem solid #a4deff;
  font-size: 2rem;
  color: #93C6E7;
  border-radius: 2rem;
  width: 12rem;
  height: 5rem;
}
.nav__contactButton:hover {
  background: #93C6E7;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 50rem) {
  .nav__container {
    width: 100%;
    position: fixed;
    z-index: 99;
    background: white;
    height: 8rem;
  }
  .nav__section--first {
    width: 50%;
    height: 100%;
    position: relative;
    justify-content: flex-start;
    padding: 2rem;
  }
  .nav__section--second {
    display: none;
    width: 50%;
    height: 100%;
    gap: 2rem;
  }
  .nav__section--third {
    width: 50%;
    height: 100%;
    gap: 2rem;
  }
}
.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  padding: 1rem;
}
.contact__widget {
  width: 50rem;
  height: 30rem;
  background: white;
  position: relative;
  display: flex;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
}
.contact__figure {
  width: 40%;
  height: 100%;
  padding: 1rem;
}
.contact__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact__list {
  padding-left: 2rem;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.contact__listItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contact__link {
  text-decoration: none;
  color: black;
  transition: all 0.4s;
}
.contact__link:hover {
  cursor: pointer;
  font-size: 130%;
}
.contact__closeButton {
  padding-right: 1rem;
  padding-top: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  font-size: 120%;
  transition: all 0.4s;
  color: black;
}
.contact__closeButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
}

@media screen and (max-width: 50rem) {
  .contact__widget {
    width: 100%;
    height: 20rem;
  }
  .contact__figure {
    width: 30%;
  }
  .contact__link {
    font-size: 90%;
  }
  .contact__link:hover {
    font-size: 90%;
  }
}
.banner {
  height: calc(100vh - 8rem - 10rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__widgetContainer {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.banner__widget {
  list-style: none;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  width: 90%;
  height: calc(100% - 3rem);
  display: flex;
}
.banner__widgetBanner {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.banner__bannerContainer {
  width: 100%;
  height: 70%;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom right, white, #19A7CE);
}
.banner__figure {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.banner__widgetImg {
  height: auto;
  width: 100%;
  opacity: 0.8;
  border-bottom-right-radius: 2rem;
  max-height: 35rem;
}

@media screen and (max-width: 93.75rem) {
  .banner__widgetContainer {
    width: 90%;
    height: 100%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
}
@media screen and (max-width: 96.875rem) {
  .banner {
    height: calc(100vh - 8rem - 2rem);
  }
}
@media screen and (max-width: 59.375rem) {
  .banner {
    height: auto;
  }
  .banner__widget {
    flex-direction: column;
  }
  .banner__widgetBanner {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .banner__bannerContainer {
    width: 100%;
    height: 70%;
    align-items: center;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0;
  }
  .banner__widgetImg {
    object-fit: cover;
    opacity: 0.8;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 0;
  }
}
@media screen and (max-width: 49.625rem) {
  .banner__widgetContainer {
    width: 100%;
    height: 100%;
  }
  .banner__widget {
    flex-direction: column;
    width: 100%;
  }
  .banner__widgetFigure {
    border-bottom-right-radius: 0rem;
  }
  .banner__widgetContainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
.banner__iconContainer {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__iconsContainer {
  width: 21rem;
  height: 21rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.banner__widgetIcon {
  flex-grow: 1;
  width: 6rem;
  aspect-ratio: 1/1;
  background: #A4DEFF;
  border: 0.2rem solid #8CC4EA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 93.75rem) {
  .banner__iconContainer {
    width: 50%;
  }
}
@media screen and (max-width: 49.625rem) {
  .banner__iconsContainer {
    width: 15rem;
    height: 15rem;
  }
  .banner__widgetIcon {
    flex-grow: 1;
    width: 4rem;
    aspect-ratio: 1/1;
    font-size: 80%;
  }
}
@media screen and (max-width: 28.125rem) {
  .banner__widgetIcon {
    width: 3.5rem;
    aspect-ratio: 1/1;
    font-size: 70%;
  }
}
.banner__widgetsContainer {
  height: 30%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.banner__widgetWidget {
  width: calc(33.3333333333% - 1rem);
  height: calc(50% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #a4deff;
  border-radius: 2rem;
}
.banner__widgetWidgetTitle {
  font-size: 100%;
  text-align: center;
  color: #19A7CE;
}

@media screen and (max-width: 75rem) {
  .banner__widgetWidget {
    width: calc(33.3333333333% - 2rem);
  }
  .banner__widgetWidgetTitle {
    font-size: 90%;
  }
  .banner__widgetsContainer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
  }
}
@media screen and (max-width: 59.375rem) {
  .banner__widgetWidget {
    padding: 1rem;
    width: calc(50% - 2rem);
    height: 5rem;
  }
  .banner__widgetWidgetTitle {
    font-size: 90%;
  }
}
@media screen and (max-width: 28.125rem) {
  .banner__widgetWidget {
    width: calc(50% - 1rem);
    height: 5rem;
  }
  .banner__widgetWidgetTitle {
    font-size: 80%;
  }
  .banner__widgetsContainer {
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
  }
}
.banner__widgetText {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}
.banner__widgetHeader {
  height: 13rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.banner__widgetTitle {
  font-size: 130%;
  color: #19A7CE;
  text-align: center;
}
.banner__widgetQaul {
  font-size: 140%;
  color: #19A7CE;
  text-align: center;
}
.banner__widgetParagraph {
  height: calc(100% - 21rem);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(147, 197, 231, 0.5) transparent;
}
.banner__widgetParagraph::-webkit-scrollbar {
  width: 0.9rem;
}
.banner__widgetParagraph::-webkit-scrollbar-track {
  background: transparent;
}
.banner__widgetParagraph::-webkit-scrollbar-thumb {
  background-color: rgba(147, 197, 231, 0.5);
  border-radius: 0.5rem;
  border: 0.1rem solid #8CC4EA;
}
.banner__widgetDesc {
  font-size: 90%;
  color: #414141;
}
.banner__widgetButtonContainer {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.banner__widgetButton {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #a4deff;
  font-size: 2rem;
  border-radius: 2rem;
  width: 12rem;
  height: 5rem;
  background: #93C6E7;
  color: white;
}
.banner__widgetButton:hover {
  cursor: pointer;
  color: #93C6E7;
  background: transparent;
}

@media screen and (max-width: 68.75rem) {
  .banner__widgetHeader {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .banner__widgetTitle {
    font-size: 120%;
  }
  .banner__widgetQaul {
    font-size: 120%;
  }
  .banner__widgetParagraph {
    height: calc(100% - 18rem);
  }
  .banner__widgetDesc {
    font-size: 80%;
  }
}
@media screen and (max-width: 59.375rem) {
  .banner__widgetText {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  .banner__widgetHeader {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .banner__widgetTitle {
    font-size: 120%;
  }
  .banner__widgetQaul {
    font-size: 120%;
  }
  .banner__widgetParagraph {
    height: 60%;
  }
  .banner__widgetDesc {
    font-size: 80%;
  }
  .banner__widgetButtonContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.skills {
  margin-top: 4rem;
  min-height: 20vh;
  width: 100%;
  margin-bottom: 4rem;
}
.skills__skill {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 160%;
}
.skills__list {
  padding: 2rem 4rem;
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.skills__listItem {
  width: 25rem;
  height: 25rem;
  background: rgb(255, 255, 255);
  border: 0.2rem solid #a4deff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1rem;
  transition: all 0.4s;
}
.skills__listItem:hover {
  transform: translateY(-2rem);
}
.skills__section {
  background: rgba(255, 255, 255, 0.9);
  width: 23.5rem;
  height: 23.5rem;
  display: flex;
}
.skills__logo {
  width: 8rem;
  height: 8rem;
}
.skills__title {
  font-size: 120%;
  font-weight: 300;
}
.skills__timeFrame {
  color: #19A7CE;
  font-size: 90%;
  font-weight: 300;
}

@media screen and (max-width: 50rem) {
  .skills__list {
    padding: 2rem 0rem;
  }
  .skills__listItem {
    width: 17rem;
    height: 17rem;
  }
}
.projects {
  margin-top: 4rem;
  min-height: 60vh;
  width: 100%;
  margin-bottom: 4rem;
}
.projects__title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 160%;
}
.projects__projects {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.projects__border {
  width: 45%;
  height: 35rem;
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 60%, #B4E4FF 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.projects__project {
  width: 45%;
  height: 30rem;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  position: relative;
}
.projects__img {
  width: 100%;
  height: 100%;
  border-radius: 1.8rem;
}
.projects__tag {
  width: auto;
  padding: 0 2rem;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #B4E4FF;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-top-right-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
}
.projects__name {
  font-size: 130%;
  font-weight: 300;
  color: #19A7CE;
}
.projects__moreInfo {
  width: 10rem;
  height: 3rem;
  border: 0.2rem solid #a4deff;
  background: white;
  border-radius: 0.7rem;
  font-size: 80%;
  transition: all 0.4s;
  color: black;
}
.projects__moreInfo:hover {
  cursor: pointer;
  background: #19A7CE;
  color: white;
}

@media screen and (max-width: 75rem) {
  .projects__project {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 37.5rem) {
  .projects {
    width: 100%;
  }
  .projects__project {
    width: auto;
    height: auto;
  }
  .projects__projects {
    padding: 1rem;
  }
  .projects__tag {
    padding: 0 1rem;
  }
  .projects__name {
    font-size: 90%;
    width: 10ch;
    font-weight: 400;
  }
  .projects__moreInfo {
    width: 8rem;
  }
}
.modal {
  width: 95%;
  height: 95%;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  background: rgba(255, 255, 255, 0.95);
}
.modal__container {
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal__backdrop {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
}
.modal__main {
  width: 100%;
  height: calc(100% - 5rem);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: space-around;
  padding: 4rem;
}
.modal__sections {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.modal__sections--left {
  justify-content: center;
}
.modal__widgetContainer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 68.75rem) {
  .modal__container {
    height: auto;
  }
  .modal__main {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 2rem;
  }
  .modal__sections {
    width: 100%;
    gap: 2rem;
  }
}
@media screen and (max-width: 50rem) {
  .modal {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .modal__widgetContainer {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
.modal__header {
  width: 100%;
  height: 5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
}
.modal__section {
  display: flex;
}
.modal__section--first {
  width: 25%;
  height: 100%;
}
.modal__section--second {
  width: 50%;
  height: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.modal__section--third {
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.modal__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 1rem 4rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0.2rem solid #a4deff;
  border-top: none;
}
.modal__name {
  font-size: 140%;
  color: #19A7CE;
  font-weight: 400;
}
.modal__exitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 100%;
  width: 6rem;
  border: 0.2rem solid #a4deff;
  color: #19A7CE;
  background: white;
  font-size: 200%;
  border-top: none;
  border-right: none;
  transition: all 0.4s;
}
.modal__exitButton:hover {
  cursor: pointer;
  background: #19A7CE;
  color: white;
}

@media screen and (max-width: 68.75rem) {
  .modal__section--first {
    width: 20%;
  }
  .modal__section--second {
    width: 60%;
  }
  .modal__section--third {
    width: 20%;
  }
  .modal__header {
    height: 6rem;
  }
  .modal__name {
    text-align: center;
    font-size: 100%;
  }
  .modal__exitButton {
    height: 5rem;
    font-size: 150%;
  }
}
.modal__slider {
  position: relative;
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  justify-content: center;
}
.modal__sliderButtonContainer {
  position: absolute;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.modal__sliderButtonContainer--1 {
  top: 0;
  left: 0;
}
.modal__sliderButtonContainer--2 {
  top: 0;
  left: 90%;
}
.modal__sliderButton {
  width: 100%;
  height: 4rem;
  font-size: 140%;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.8);
  border: 0.2rem solid #a4deff;
  transition: all 0.4s;
  color: black;
}
.modal__sliderButton:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.modal__sliderImgContainer {
  max-height: 35rem;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.modal__sliderImg {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: imageFade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.modal__sliderImgDotContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.modal__sliderDot {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid #a4deff;
  border-radius: 2rem;
  background: white;
  transition: all 0.4s;
}
.modal__sliderDot--active {
  width: 6rem;
}
.modal__sliderDot--bar {
  border-radius: 2rem;
  animation: progressBar;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.modal__sliderDot:hover {
  width: 5rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 68.75rem) {
  .modal__slider {
    height: 30rem;
  }
  .modal__sliderImg {
    border-radius: 2rem;
  }
}
@media screen and (max-width: 50rem) {
  .modal__sliderButtonContainer {
    width: 20%;
  }
  .modal__sliderButtonContainer--2 {
    left: 80%;
  }
  .modal__sliderButton {
    width: 100%;
    height: 4rem;
    font-size: 120%;
    border-radius: 2rem;
    background: rgba(59, 59, 59, 0.4);
    border: none;
    transition: all 0.4s;
    color: black;
  }
  .modal__sliderButton:hover {
    cursor: pointer;
    background: rgba(59, 59, 59, 0.4);
    color: black;
  }
}
.modal__language {
  width: 40%;
  height: 100%;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal__languageListItem {
  width: 33.3333333333%;
  height: 50%;
  padding: 1rem;
}
.modal__languageImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 50rem) {
  .modal__language {
    width: 100%;
    height: 15rem;
  }
}
.modal__linkModal {
  width: 55%;
  height: 100%;
  border-radius: 2rem;
  border: 0.2rem solid #a4deff;
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal__linkList {
  width: 100%;
  height: 30%;
  border: 0.2rem solid #a4deff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
}
.modal__link {
  text-decoration: none;
  color: #19A7CE;
  font-size: 120%;
  transition: all 0.4s;
}
.modal__link:hover {
  transform: scale(1.1);
}
.modal__linkImg {
  width: 20%;
  height: 90%;
  object-fit: contain;
}

@media screen and (max-width: 50rem) {
  .modal__linkModal {
    width: 100%;
    height: auto;
    gap: 2rem;
  }
  .modal__linkList {
    height: 4rem;
  }
  .modal__link {
    font-size: 100%;
  }
}
.modal__assignment {
  width: 100%;
  height: 30%;
  border: 0.2rem solid #a4deff;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal__assignmentContainer {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(147, 197, 231, 0.5) transparent;
}
.modal__assignmentContainer::-webkit-scrollbar {
  width: 0.9rem;
}
.modal__assignmentContainer::-webkit-scrollbar-track {
  background: transparent;
}
.modal__assignmentContainer::-webkit-scrollbar-thumb {
  background-color: rgba(147, 197, 231, 0.5);
  border-radius: 0.5rem;
  border: 0.1rem solid #8CC4EA;
}
.modal__assignmentH2 {
  color: #19A7CE;
  font-weight: 400;
}
.modal__assignmentP {
  color: #414141;
}

@media screen and (max-width: 90rem) {
  .modal__assignment {
    height: 40%;
  }
  .modal__assignmentH2 {
    font-size: 110%;
  }
}
@media screen and (max-width: 68.75rem) {
  .modal__assignment {
    height: 20rem;
  }
  .modal__assignmentH2 {
    font-size: 110%;
  }
  .modal__assignmentP {
    font-size: 90%;
  }
}
.modal__description {
  width: 100%;
  height: 70%;
  border: 0.2rem solid #a4deff;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal__descriptionH2 {
  color: #19A7CE;
  font-weight: 400;
}
.modal__descriptionContainer {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(147, 197, 231, 0.5) transparent;
}
.modal__descriptionContainer::-webkit-scrollbar {
  width: 0.9rem;
}
.modal__descriptionContainer::-webkit-scrollbar-track {
  background: transparent;
}
.modal__descriptionContainer::-webkit-scrollbar-thumb {
  background-color: rgba(147, 197, 231, 0.5);
  border-radius: 0.5rem;
  border: 0.1rem solid #8CC4EA;
}
.modal__descriptionP {
  color: #414141;
}

@media screen and (max-width: 90rem) {
  .modal__description {
    height: calc(60% - 1.6rem);
  }
  .modal__descriptionH2 {
    font-size: 110%;
  }
}
@media screen and (max-width: 68.75rem) {
  .modal__description {
    height: 40rem;
  }
  .modal__descriptionH2 {
    font-size: 110%;
  }
  .modal__descriptionP {
    font-size: 90%;
  }
}
@keyframes barOneCross {
  0% {
    opacity: 1;
  }
  100% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
  }
}
@keyframes barTwoCross {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes barThreeCross {
  0% {
    opacity: 1;
  }
  100% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: rotate(-45deg) translateY(-55%);
  }
}
@keyframes barOne {
  0% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
  }
  100% {
    position: relative;
    width: 80%;
    transform: translateY(0%) rotate(0deg);
  }
}
@keyframes navDropdownExpand {
  0% {
    opacity: 1;
    width: 20%;
    height: 0%;
  }
  40% {
    width: 100%;
    height: 90%;
  }
  100% {
    width: 100%;
    height: 15rem;
  }
}
@keyframes navDropdownRetract {
  0% {
    width: 100%;
    height: auto;
  }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}
@keyframes progressBar {
  0% {
    width: 0%;
    height: 100%;
    background: #8CC4EA;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #8CC4EA;
  }
}
@keyframes imageFade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav__menuButtonContainer {
  width: 5rem;
  height: 5rem;
  display: none;
}
.nav__menuButton {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #a4deff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}
.nav__bars {
  height: 10%;
  width: 80%;
  background: #B4E4FF;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.nav__menuContainer {
  height: 15rem;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 999;
  background: white;
  border-right: 0.2rem solid #a4deff;
  padding: 2rem;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}
.nav__menuListItem {
  width: 100%;
  height: 5rem;
}
.nav__menuLink {
  text-decoration: none;
  font-size: 2.5rem;
  color: #19A7CE;
}

@media screen and (max-width: 50rem) {
  .nav__menuButtonContainer {
    width: 5rem;
    height: 5rem;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
