@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.banner {
    height: calc(100vh - 8rem - 10rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__widgetContainer {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    &__widget {
        list-style: none;
        border-radius: 2rem;
        @include mixins.defaultBorder;
        width: 90%;
        height: calc(100% - 3rem);
        display: flex;
    }

    &__widgetBanner {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__bannerContainer {
        width: 100%;
        height: 70%;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        display: flex;
        position: relative;
        background: linear-gradient(to bottom right,white, map-get(colors.$baseColors, "colorOne"));
    }

    &__figure{
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__widgetImg{
        height: auto;
        width: 100%;
        opacity: 0.9;
        border-bottom-right-radius: 2rem;
        max-height: 80%;
        object-fit: contain;
    }
}

@media screen and (max-width: 93.75rem){
    .banner{
        &__widgetContainer {
            width: 90%;
            height: 100%;
            display: flex;
            padding: 2rem;
            justify-content: center;
            flex-wrap: wrap;
            gap: 4rem;
        }
    }
}

@media screen and (max-width: 96.875rem){
    .banner{
        height: calc(100vh - 8rem - 2rem);
    }
}

@media screen and (max-width: 59.375rem){
    .banner{
        height: auto;

        &__widget{
            flex-direction: column;
        }

        &__widgetBanner {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        &__bannerContainer {
            width: 100%;
            height: 70%;
            align-items:center;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 0;
        }

        &__widgetImg{
            object-fit:cover;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 0;
        }
    }
}

@media screen and (max-width: 49.625rem){
    .banner{
        &__widgetContainer {
            width: 100%;
            height: 100%;
        }

        &__widget{
            flex-direction: column;
            width: 100%;
        }

        &__widgetFigure {
            border-bottom-right-radius: 0rem;
        }

        &__widgetContainer {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 1rem;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}
