@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.modal {
    &__description {
        width: 100%;
        height: calc(100% - 30%);
        @include mixins.defaultBorder;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__descriptionH2 {
        color: map-get(colors.$baseColors, "colorOne");
        font-weight: 400;
    }

    &__descriptionContainer {
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba(147, 197, 231, 0.5) transparent;

        &::-webkit-scrollbar {
            width: 0.9rem;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(147, 197, 231, 0.5);
            border-radius: 0.5rem;
            border: 0.1rem solid #8CC4EA;
        }
    }

    &__descriptionP {
        color: map-get(colors.$textColor, "colorOne");
    }
}

@media screen and (max-width: 90rem) {
    .modal {
        &__description {
            height: calc(60% - 1.6rem);
        }

        &__descriptionH2 {
            font-size: 110%;
        }
    }
}


@media screen and (max-width: 68.75rem) {
    .modal {

        &__description{
            height: 40rem;
        }

        &__descriptionH2 {
            font-size: 110%;
        }

        &__descriptionP {
            font-size: 90%;
        }
    }
}