@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.nav {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 99;

    &__container {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__section {
        display: flex;
        align-items: center;
        justify-content: center;

        &--first {
            width: 25%;
            height: 100%;
            position: relative;
        }

        &--second {
            width: 50%;
            height: 100%;
            gap: 2rem;
        }

        &--third {
            width: 25%;
            height: 100%;
            gap: 2rem;
        }
    }

    &__links {
        text-decoration: none;
        font-size: 2.5rem;
        color: map-get(colors.$baseColors, "colorOne");

        &:hover {
            color: #AEE2FF;
            cursor: pointer;
        }
    }

    &__flag{
        transition: all 0.4s;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    &__contactButton {
        background: transparent;
        @include mixins.defaultBorder;
        font-size: 2rem;
        color: #93C6E7;
        border-radius: 2rem;
        width: 12rem;
        height: 5rem;

        &:hover {
            background: map-get(colors.$baseColors, "colorTwo");
            color: white;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 50rem){
    .nav{

        &__container {
            width: 100%;
            position: fixed;
            z-index: 99;
            background: white;
            height: 8rem;
        }

        &__section {
    
            &--first {
                width: 50%;
                height: 100%;
                position: relative;
                justify-content: flex-start;
                padding: 2rem;
            }
    
            &--second {
                display: none;
                width: 50%;
                height: 100%;
                gap: 2rem;
            }
    
            &--third {
                width: 50%;
                height: 100%;
                gap: 2rem;
            }
        }
    }
}